/* earth on footer */
.extra1 {
    width: 100%;
    height: 300px;
    background-image: url(./assets/terra.svg);
    background-position: top;
    background-size: 130%, cover;
    background-repeat: no-repeat, no-repeat;

    @include respond-to("lg") {
        background-size: 200%
    }
}

.extra2,
.extra3,
.extra4,
.extra5,
.extra6 {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, no-repeat;
}

/* moon on top right */
.extra2 {
    left: 190px;
    top: -130px;
    background-image: url(./assets/lua.svg);
    max-width: 500px;

    @include respond-to("xs") {
        left: 230px;
    }

    @include respond-to("sm") {
        left: 380px;
        top: -150px;
    }

    @include respond-to("md") {
        left: 520px;
    }

    @include respond-to("lg") {
        left: 780px;
        top: -170px;
        max-width: 600px;
    }

    @include respond-to("xl") {
        left: 950px;
        top: -200px;
        max-width: 700px;
    }
}

/* orange planet on top left */
.extra3 {
    left: -80px;
    top: -80px;
    background-image: url(./assets/planet1.png);
    background-size: 180px;

    @include respond-to("md") {
        left: -70px;
        top: -70px;
        background-size: 200px;
    }
}

/* rocket below the moon */
.extra4 {
    left: 240px;
    top: 180px;
    background-image: url(./assets/foguete.svg);
    background-size: 120px;

    @include respond-to("xs") {
        left: 280px;
        top: 250px;
    }

    @include respond-to("sm") {
        left: 400px;
        top: 280px;
        background-size: 160px;
    }

    @include respond-to("md") {
        left: 550px;
        top: 300px;
    }

    @include respond-to("lg") {
        left: 750px;
        top: 280px;
        background-size: 180px;
    }

    @include respond-to("xl") {
        left: 900px;
        top: 300px;
        background-size: 200px;
    }

    animation: rocket 5s linear infinite alternate;
}

/* blue planet on straight top */
.extra5 {
    left: 100px;
    top: 0px;
    background-image: url(./assets/planet2.svg);
    background-size: 120px;

    @include respond-to("xs") {
        left: 130px;
    }

    @include respond-to("sm") {
        left: 170px;
        background-size: 150px;
    }

    @include respond-to("md") {
        left: 220px;
        background-size: 180px;
    }

    @include respond-to("lg") {
        left: 400px;
        background-size: 220px;
    }

    @include respond-to("xl") {
        left: 700px;
        background-size: 250px;
    }
}

/* orange planet below the moon */
.extra6 {
    left: 300px;
    top: 270px;
    background-image: url(./assets/planet1.svg);
    background-size: 180px;

    @include respond-to("xs") {
        left: 350px;
        top: 300px;
    }

    @include respond-to("sm") {
        left: 550px;
        top: 330px;
    }

    @include respond-to("md") {
        left: 750px;
        top: 350px;
        background-size: 200px;
    }

    @include respond-to("lg") {
        left: 950px;
        top: 400px;
        background-size: 220px;
    }

    @include respond-to("xl") {
        left: 1200px;
        top: 480px;
        background-size: 220px;
    }
}
