.main {
    line-height: 1.3em;

    @include respond-to("lg") {
        padding-left: 150px;
        padding-right: 150px;
    }

    h3 {
        font-size: 1.3em;
        color: $color-4;
        margin-top: 60px;
        margin-left: 70px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    p {
        margin-bottom: 2rem;
    }

    .explanation,
    .benefits {
        text-align: right;

        h3 {
            margin-right: 60px;
            padding-bottom: 10px;
        }

        h3::before {
            content: "";
            position: absolute;
            float: right;
            right: 40px;
            padding: 1.3em;
            display: flex;
            flex-direction: row;

            @include respond-to("lg") {
                right: 180px;
            }
            
        }
    }

    .explanation {
        h3::before {
            content: "";
            background: url("./assets/icon-2.svg") no-repeat;
            margin-top: -20px;

            animation: rot 5s linear infinite alternate;
        }
    }

    .benefits {
        h3::before {
            content: "";
            background: url("./assets/icon-4.svg") no-repeat;
            margin-top: -25px;

            animation: rot 5s linear infinite alternate;
        }
    }

    .participation,
    .requirements {
        h3::before {
            content: "";
            position: absolute;
            float: left;
            left: 10px;
            margin-left: 20px;
            padding: 1.7em;
            display: flex;
            flex-direction: row;

            @include respond-to("lg") {
                left: 150px;
                margin-top: -20px;
            }
        }
    }

    .participation {
        h3::before {
            content: "";
            background: url("./assets/icon-3.svg") no-repeat;
            margin-top: -25px;
            transform: rotate(-20deg);

            animation: rot 5s linear infinite alternate;
        }
    }

    .requirements {
        h3::before {
            content: "";
            background: url("./assets/icon-5.svg") no-repeat;
            margin-top: -25px;
            transform: rotate(-10deg);

            animation: rot 5s linear infinite alternate;
        }

        p:last-child {
            background-color: $color-3;
            padding: 3rem;
            border-radius: 30px;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }

    a:link,
    a:visited,
    a:active {
        color: $color-4;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a:link,
        a:visited,
        a:hover,
        a:active {
            width: 50px;
            height: 50px;
            padding: 1.5rem;
            font-size: 0;
        }

        :nth-child(1) {
            background: url("/assets/html-5.png") center center/50px no-repeat;
        }

        :nth-child(2) {
            background: url("/assets/css3.png") center center/50px no-repeat;
        }

        :nth-child(3) {
            background: url("/assets/creative-commons.png") center center/50px no-repeat;
        }

        :nth-child(4) {
            background: url("/assets/accessibility1.png") center center/50px no-repeat;
        }

        :nth-child(5) {
            background: url("/assets/github.png") center center/50px no-repeat;
        }
    }
}
