/***********************
  reset
***********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************
  variables
***********************/
/***********************
  typography
***********************/
/***********************
  breakpoints
***********************/
/***********************
  background
***********************/
body {
  /* this is the page background */
  background: -webkit-gradient(linear, left top, left bottom, from(#271852), to(#5B2D7E));
  background: linear-gradient(#271852, #5B2D7E);
}

/***********************
  general
***********************/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7em;
  font-family: "Barlow Condensed", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  body {
    font-size: 2em;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Audiowide", cursive;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-wrapper {
  padding: 4rem 4rem;
}

.page-wrapper:first-child {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.page-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1200px;
  background-image: url("./assets/estrelas.png");
}

abbr {
  text-decoration: none;
}

/***********************
  header
***********************/
@media (min-width: 992px) {
  header {
    margin-left: 150px;
  }
}

header h1 {
  width: 60%;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #FF11CB;
}

header h1:after {
  content: "";
  position: absolute;
  left: 150px;
  top: 80px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(./assets/cometa.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 30px;
}

@media (min-width: 768px) {
  header h1:after {
    left: 400px;
  }
}

@media (min-width: 992px) {
  header h1:after {
    left: 600px;
    background-size: 40px;
  }
}

header h2 {
  width: 80%;
  font-size: 2em;
  line-height: 1.3em;
  color: #ffffff;
  margin-top: 3rem;
}

@media (min-width: 400px) {
  header h2 {
    max-width: 250px;
  }
}

@media (min-width: 576px) {
  header h2 {
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  header h2 {
    max-width: 400px;
    font-size: 2.5em;
  }
}

header h2 abbr {
  color: #FF11CB;
}

/***********************
  summary
***********************/
.summary {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 400px) {
  .summary {
    max-width: 300px;
  }
}

@media (min-width: 576px) {
  .summary {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .summary {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  .summary {
    margin-left: 150px;
  }
}

@media (min-width: 1200px) {
  .summary {
    max-width: 700px;
  }
}

.summary p:last-child {
  margin-top: 3rem;
  line-height: 3em;
  text-align: right;
  max-width: 280px;
}

@media (min-width: 576px) {
  .summary p:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 25px;
  }
}

@media (min-width: 768px) {
  .summary p:last-child {
    max-width: 320px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 50px;
  }
}

@media (min-width: 992px) {
  .summary p:last-child {
    max-width: 380px;
  }
}

.summary p:last-child a:link,
.summary p:last-child a:visited,
.summary p:last-child a:active {
  display: inline-block;
  width: 130px;
  border-radius: 25px;
  text-align: center;
  margin: 5px;
  background-color: #FF11CB;
  color: #ffffff;
}

@media (min-width: 768px) {
  .summary p:last-child a:link,
  .summary p:last-child a:visited,
  .summary p:last-child a:active {
    width: 150px;
  }
}

@media (min-width: 992px) {
  .summary p:last-child a:link,
  .summary p:last-child a:visited,
  .summary p:last-child a:active {
    width: 200px;
  }
}

.summary p:last-child a:last-of-type {
  background-color: #ffffff;
  color: #FF11CB;
}

.summary p:last-child a:hover {
  background: #aa0085;
}

.summary p:last-child a:last-of-type:hover {
  background: #d1d1d1;
}

/***********************
  section
***********************/
section .preamble {
  margin-top: 5rem;
  line-height: 1.3em;
}

@media (min-width: 992px) {
  section .preamble {
    padding-left: 150px;
    padding-right: 150px;
  }
}

section .preamble h3 {
  font-size: 1.3em;
  color: #99F0FF;
  margin-top: 60px;
  margin-left: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

section .preamble h3::before {
  content: "";
  background: url("./assets/icon-1.svg") no-repeat;
  position: absolute;
  float: left;
  left: 10px;
  margin-left: 20px;
  margin-top: -20px;
  padding: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: rot 5s linear infinite alternate;
          animation: rot 5s linear infinite alternate;
}

@media (min-width: 992px) {
  section .preamble h3::before {
    left: 150px;
    margin-top: -20px;
  }
}

section .preamble p {
  margin-bottom: 2rem;
}

/***********************
  main
***********************/
.main {
  line-height: 1.3em;
}

@media (min-width: 992px) {
  .main {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.main h3 {
  font-size: 1.3em;
  color: #99F0FF;
  margin-top: 60px;
  margin-left: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.main p {
  margin-bottom: 2rem;
}

.main .explanation,
.main .benefits {
  text-align: right;
}

.main .explanation h3,
.main .benefits h3 {
  margin-right: 60px;
  padding-bottom: 10px;
}

.main .explanation h3::before,
.main .benefits h3::before {
  content: "";
  position: absolute;
  float: right;
  right: 40px;
  padding: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 992px) {
  .main .explanation h3::before,
  .main .benefits h3::before {
    right: 180px;
  }
}

.main .explanation h3::before {
  content: "";
  background: url("./assets/icon-2.svg") no-repeat;
  margin-top: -20px;
  -webkit-animation: rot 5s linear infinite alternate;
          animation: rot 5s linear infinite alternate;
}

.main .benefits h3::before {
  content: "";
  background: url("./assets/icon-4.svg") no-repeat;
  margin-top: -25px;
  -webkit-animation: rot 5s linear infinite alternate;
          animation: rot 5s linear infinite alternate;
}

.main .participation h3::before,
.main .requirements h3::before {
  content: "";
  position: absolute;
  float: left;
  left: 10px;
  margin-left: 20px;
  padding: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 992px) {
  .main .participation h3::before,
  .main .requirements h3::before {
    left: 150px;
    margin-top: -20px;
  }
}

.main .participation h3::before {
  content: "";
  background: url("./assets/icon-3.svg") no-repeat;
  margin-top: -25px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: rot 5s linear infinite alternate;
          animation: rot 5s linear infinite alternate;
}

.main .requirements h3::before {
  content: "";
  background: url("./assets/icon-5.svg") no-repeat;
  margin-top: -25px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: rot 5s linear infinite alternate;
          animation: rot 5s linear infinite alternate;
}

.main .requirements p:last-child {
  background-color: #FF11CB;
  padding: 3rem;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main a:link,
.main a:visited,
.main a:active {
  color: #99F0FF;
}

.main a:hover {
  text-decoration: underline;
}

.main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main footer a:link,
.main footer a:visited,
.main footer a:hover,
.main footer a:active {
  width: 50px;
  height: 50px;
  padding: 1.5rem;
  font-size: 0;
}

.main footer :nth-child(1) {
  background: url("/assets/html-5.png") center center/50px no-repeat;
}

.main footer :nth-child(2) {
  background: url("/assets/css3.png") center center/50px no-repeat;
}

.main footer :nth-child(3) {
  background: url("/assets/creative-commons.png") center center/50px no-repeat;
}

.main footer :nth-child(4) {
  background: url("/assets/accessibility1.png") center center/50px no-repeat;
}

.main footer :nth-child(5) {
  background: url("/assets/github.png") center center/50px no-repeat;
}

/***********************
  design-selection
***********************/
.design-selection {
  background-color: #271852;
  padding: 3.5rem;
  border-radius: 30px;
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .design-selection {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.design-selection h3 {
  font-size: 1.3em;
  color: #99F0FF;
  margin-bottom: 3rem;
}

.design-selection ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .design-selection ul {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.design-selection li a:link:first-child,
.design-selection li a:visited,
.design-selection li a:active {
  color: #ffffff;
  font-family: "Audiowide", cursive;
}

.design-selection li a:hover {
  text-decoration: underline;
}

.design-selection li::before {
  content: '';
  position: relative;
  left: 0;
  top: 0;
  padding: 0px 10px;
  background-image: url("./assets/dot.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 18px;
  margin-right: 5px;
}

.design-selection a:link,
.design-selection a:visited,
.design-selection a:active {
  color: #FF11CB;
}

.design-selection a:hover {
  text-decoration: underline;
}

/***********************
  design-archives
***********************/
.design-archives {
  text-align: center;
  margin-top: 3rem;
}

.design-archives h3 {
  font-size: 1.3em;
  color: #99F0FF;
  margin-bottom: 3rem;
}

.design-archives a:link,
.design-archives a:visited,
.design-archives a:active {
  display: inline-block;
  width: 130px;
  border-radius: 25px;
  text-align: center;
  margin: 5px;
  background-color: #FF11CB;
  color: #ffffff;
  padding: 1.5rem;
}

@media (min-width: 992px) {
  .design-archives a:link,
  .design-archives a:visited,
  .design-archives a:active {
    width: 180px;
  }
}

@media (min-width: 768px) {
  .design-archives ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .design-archives ul li {
    padding: 20px 20px;
  }
}

.design-archives .viewall a {
  background-color: #ffffff;
  color: #FF11CB;
}

.design-archives a:hover {
  background: #aa0085;
}

.design-archives a:last-of-type:hover {
  background: #d1d1d1;
}

/***********************
  zen-resources
***********************/
.zen-resources {
  background-color: #EAEAEA;
  padding: 3.5rem;
  border-radius: 30px;
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 3rem;
  line-height: 1.5em;
  margin-bottom: 4rem;
}

@media (min-width: 992px) {
  .zen-resources {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.zen-resources ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 400px) {
  .zen-resources ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .zen-resources ul {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.zen-resources h3 {
  font-size: 1.3em;
  color: #FF11CB;
  margin-bottom: 3rem;
}

.zen-resources a:link,
.zen-resources a:visited,
.zen-resources a:active {
  color: #271852;
}

.zen-resources a:hover {
  text-decoration: underline;
}

/***********************
  extras
***********************/
/* earth on footer */
.extra1 {
  width: 100%;
  height: 300px;
  background-image: url(./assets/terra.svg);
  background-position: top;
  background-size: 130%, cover;
  background-repeat: no-repeat, no-repeat;
}

@media (min-width: 992px) {
  .extra1 {
    background-size: 200%;
  }
}

.extra2,
.extra3,
.extra4,
.extra5,
.extra6 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat, no-repeat;
}

/* moon on top right */
.extra2 {
  left: 190px;
  top: -130px;
  background-image: url(./assets/lua.svg);
  max-width: 500px;
}

@media (min-width: 400px) {
  .extra2 {
    left: 230px;
  }
}

@media (min-width: 576px) {
  .extra2 {
    left: 380px;
    top: -150px;
  }
}

@media (min-width: 768px) {
  .extra2 {
    left: 520px;
  }
}

@media (min-width: 992px) {
  .extra2 {
    left: 780px;
    top: -170px;
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .extra2 {
    left: 950px;
    top: -200px;
    max-width: 700px;
  }
}

/* orange planet on top left */
.extra3 {
  left: -80px;
  top: -80px;
  background-image: url(./assets/planet1.png);
  background-size: 180px;
}

@media (min-width: 768px) {
  .extra3 {
    left: -70px;
    top: -70px;
    background-size: 200px;
  }
}

/* rocket below the moon */
.extra4 {
  left: 240px;
  top: 180px;
  background-image: url(./assets/foguete.svg);
  background-size: 120px;
  -webkit-animation: rocket 5s linear infinite alternate;
          animation: rocket 5s linear infinite alternate;
}

@media (min-width: 400px) {
  .extra4 {
    left: 280px;
    top: 250px;
  }
}

@media (min-width: 576px) {
  .extra4 {
    left: 400px;
    top: 280px;
    background-size: 160px;
  }
}

@media (min-width: 768px) {
  .extra4 {
    left: 550px;
    top: 300px;
  }
}

@media (min-width: 992px) {
  .extra4 {
    left: 750px;
    top: 280px;
    background-size: 180px;
  }
}

@media (min-width: 1200px) {
  .extra4 {
    left: 900px;
    top: 300px;
    background-size: 200px;
  }
}

/* blue planet on straight top */
.extra5 {
  left: 100px;
  top: 0px;
  background-image: url(./assets/planet2.svg);
  background-size: 120px;
}

@media (min-width: 400px) {
  .extra5 {
    left: 130px;
  }
}

@media (min-width: 576px) {
  .extra5 {
    left: 170px;
    background-size: 150px;
  }
}

@media (min-width: 768px) {
  .extra5 {
    left: 220px;
    background-size: 180px;
  }
}

@media (min-width: 992px) {
  .extra5 {
    left: 400px;
    background-size: 220px;
  }
}

@media (min-width: 1200px) {
  .extra5 {
    left: 700px;
    background-size: 250px;
  }
}

/* orange planet below the moon */
.extra6 {
  left: 300px;
  top: 270px;
  background-image: url(./assets/planet1.svg);
  background-size: 180px;
}

@media (min-width: 400px) {
  .extra6 {
    left: 350px;
    top: 300px;
  }
}

@media (min-width: 576px) {
  .extra6 {
    left: 550px;
    top: 330px;
  }
}

@media (min-width: 768px) {
  .extra6 {
    left: 750px;
    top: 350px;
    background-size: 200px;
  }
}

@media (min-width: 992px) {
  .extra6 {
    left: 950px;
    top: 400px;
    background-size: 220px;
  }
}

@media (min-width: 1200px) {
  .extra6 {
    left: 1200px;
    top: 480px;
    background-size: 220px;
  }
}

/***********************
  animations
***********************/
@-webkit-keyframes rot {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes rot {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */